

<section class="comment-article">
	
	<ul>
		<%for(let i = 0; i < comments.length; i++) {%>
			<li>
				<h3><%=comments[i].pseudo%></h3>
				<p><%=comments[i].comment%></p>
				<p class="date-comment"><%=new Date(comments[i].date).toLocaleDateString()%></p>
			</li>
		<%}%>
	</ul>

</section>
<form action="/add_comment/<%=post.id%>" method="post">
	<label>Pseudo</label>
	<input type="text" name="pseudo">
	<label>commentaire</label>
	<textarea name="content"></textarea>
	<input type="submit" name="Enregistrer">
</form>