<a class="back" href="/">Retour</a>

<section>
    <% for (let i = 0; i < post.length; i++){ %>
        <article class= "article"><h2> <%= post[i].titre %></h2>    
    <a href = "/article/<%= post[i].id %>"/>
        <img class = "article_img" src="<%=post[i].contenu.split('\n')[0] %>" alt = "Image de l'article"/>
    </a>
       <p><%= post[i].id %></p>
        </article>
    <% } %>
</section>
