<script src="gallery.js"></script>

<h1> Galerie </h1>

<div class="gallery">
    
    <div class = "item"><img src="img/IMG01.JPG" alt="Palmiers"></div>
    <div class = "item"><img src="img/IMG02.JPG" alt="Palmiers"></div>
    <div class = "item"><img src="img/IMG03.JPG" alt="Plage"></div>
    <div class = "item"><img src="img/IMG04.JPG" alt="PosteSecours"></div>
    
    <div class = "item"><img src="img/IMG05.JPG" alt="PlageMiami"></div>
    <div class = "item"><img src="img/IMG06.JPG" alt="VueChambre"></div>
    <div class = "item"><img src="img/IMG08.JPG" alt="VueBuilding"></div>
    <div class = "item"><img src="img/IMG09.JPG" alt="ArenaMiami"></div>
    
    <div class = "item"><img src="img/IMG10.JPG" alt="ArenaMiami"></div>
    <div class = "item"><img src="img/IMG11.JPG" alt="CollegeMiami"></div>
    <div class = "item"><img src="img/IMG00.JPG" alt="RueMiami"></div>
    <div class = "item"><img src="img/IMG13.JPG" alt="RueMiami"></div>
    
    <div class = "item"><img src="img/IMG002.JPG" alt="RueMiami&Moi"></div>
    <div class = "item"><img src="img/IMG01.JPG" alt="Moi"></div>
    <div class = "item"><img src="img/IMG17.JPG" alt="RueMiami"></div>
    <div class = "item"><img src="img/IMG004.JPG" alt="ClasseVue"></div>
    
    <div class = "item"><img src="img/IMG003.JPG" alt="CoucherSoleil"></div>
    <div class = "item"><img src="img/IMG20.JPG" alt="Bayside"></div>
    <div class = "item2"><img src="img/IMG07.JPG" alt="Plan Miami/MiamiBeach"></div>
</div>
    <p class = "situation">Le point <span class = "green">A</span> définit l'endroit exact où je residais ! </p>



