<body class = "imgFond">
    <main class="delimit">
        <div class = "col-size">
            <div class = "vert-center">
                <div class="vacation-animation-element">
                    Osez l'aventure en Floride - - - - - - - - - - <i class="fa-solid fa-plane"></i>                    
                </div>
            </div>
        </div>
    </main>
</body>
