<script src="login.js"></script>


<h1>Connexion</h1>


<form class = "form" action="/loginSubmit" method="post">
	
	<p class="connect-register">Se connecter</p>

	<label for="email">Email</label>
	<input class="input" type="text" id="email" name="email">
	<label for="motDePasse">Mot de passe</label>
	<input class="input" type="password" id="motDePasse" name="motDePasse">

	<input class="button" type="submit" value="S'identifier">
</form>
