<script src="login.js"></script>

<h1>Veuillez vous identifier</h1>

<form action="/login" method="post">
	<label for="email">Email</label>
	<input type="text" id="email" name="email">
	<label for="motDePasse">Mot de passe</label>
	<input type="password" id="motDePasse" name="motDePasse">
	
	<input type="submit" value="S'identifier">
</form>
