<script src="login.js"></script>


<h1>Connexion</h1>

<!-- <img class = "article_image" src="../img/IMG004.JPG" alt="image"/> -->

<p>Connectez-vous ici et partagez votre/vos experience(s), posez vos questions !</p>
<form class = "form" action="/loginSubmit" method="post">
	
	<p class="connect-register">Se connecter</p>

	<label for="email">Email</label>
	<input class="input" type="text" id="email" name="email">
	<label for="motDePasse">Mot de passe</label>
	<input class="input" type="password" id="motDePasse" name="motDePasse">

	<input class="button" type="submit" value="S'identifier">
</form>
