<h1>Formulaire d'inscription</h1>

 

  <form class="form" id="inscription" action="/register" method="POST">

    <% if (errors) { %>
      <div class="errors">
        <% for (let key in errors) { %>
          <p>
            <%= errors[key] %>
          </p>
        <% } %>
      </div>
    <% } %>

    <label for="nom">Nom :</label>
    <input class="input" type="text" id="nom" name="nom" required>

    <label for="prenom">Prenom :</label>
    <input class="input" type="text" id="prenom" name="prenom" required>

    <label for="email">Email :</label>
    <input class="input" type="email" id="email" name="email" required>

    <label for="motDePasse">Mot de passe :</label>
    <input class="input" type="password" id="motDePasse" name="motDePasse" required>

    <label for="motDePasseConfirm">Confirmation du mot de passe :</label>
    <input class="input" type="password" id="motDePasseConfirm" name="motDePasseConfirm" required>


    <button id="button" type="submit">S'inscrire</button>
  </form>