*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 1000px;
  overflow-y: auto;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -400px;
  background-color: #2583BA;
  padding-top: 60px;
  transition: left 0.5s ease;
  opacity : 0.90;
}

/* Sidenav menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
  font-size: 22px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */

.sidenav.active {
  left: 0;
}

/* Close btn */

.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 22px;
}

.close:hover {
  font-size : 36px;
}

/* Icône burger */

.burger-icon span {
  display: block;
  width: 70px;
  height: 10px;
  background-color: #2583BA;
  margin: 6px 0;
}

.col-size {
  width: 25%;
  padding: 15%;
  background: #2583BA;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.vert-center {
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
	font-size : 400%;
	font-family : 'Poppins', cursive;
	z-index : 1;
}

.vert-center p {
	font-size: 50%;
	color: #fff;
	text-align: center;
	padding-left: 80%;
	padding-top : 40%;
	z-index : 2;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Playfair Display', cursive;
  background-color : #2583BA;
  padding : 2em;
}


.gallery {
  background: #55cceb;
  max-width: 1100px;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 14px;
}

.item {
  height: 250px;
  flex-grow: 1;
  margin: 15px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.item2 {
  width: auto;
  height: 500px;
  overflow: hidden;
  margin: 0 20px 10px 95px;
}

.item img {
  width: 100%;
  position: relative;
}

.item:hover,
.item2:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.2);
}

.green {
  color: black;
  background-color : green;
  font-size: 50px;
  text-align: center;
}

.situation {
  color: red;
  font-size: 40px;
  text-align: center;
  font-family: 'Fasthand', cursive;
}

.imgFond {
  background-image: url(../img/imgFond.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.imgFond::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Flou appliqué à l'élément */
  opacity: 0; /* Initialiser l'opacité à 0 */
  transition: opacity 0.3s ease; /* Transition de l'opacité */
}

.imgFond:hover::after {
  opacity: 1; /* Augmenter l'opacité au survol pour afficher le flou */
  z-index : -1;
}

.header {
  background-color: #2583BA;
  width: 20%;
  background: center;
  display: block;
}

.container {
  max-width: 1400px;
	margin: auto;
}

.search {
  color: #2583BA;
  width: 30rem;
}

.fa-magnifying-glass {
  width: 10rem;
  color: #2583BA;
}

.search {
  justify-content: space-between;
}


/********** FOOTER *************/


footer {
  background-color: #2583BA;
  padding: 3rem;
  width : 100%;
  bottom : 0;
  position : relative;
}

.pFoot {
  text-align: left;
  font-size: 2.5em;
  margin-left: 1em;
}

.site {
  font-family : 'Caveat', cursive;
  text-decoration : none;
  color : black;
  padding-top : 2rem;
}

.pictos a::before {
	font-family: 'Font Awesome 5 Brands';
	float : right;
	color: white;
	font-size: 2rem;
	margin-right : 1rem;
}

.site::before {
  font-family : "Font Awesome 5 Pro";
	 content:"\f5e9";
}

.facebook::before {
	content:"\f09a";
}

.twitter::before {
	content:"\f099";
}

.instagram::before {
	content:"\f16d";
}

.youtube::before {
  content : "\f167";
}

.logo {
  width: 1em;
  text-align: left;
  margin-left: 2em;
}

.article_img {
  width: 40rem;
}

.article {
  width: 50%;
  border: 1px solid black;
  padding: 1em;
  margin : 3em;
  text-align : center;
  background-color : #e5e3e3;
}

section {
  display: block;
  text-align : center;
  margin : 2em;
    background-color:#FFF7DF ;
  flex-wrap : wrap;
}

form {
  margin: 1em;
  padding: 1em;
  background-color: grey;
  height: auto;
}

main {
  display: block;
  margin: 2em;
}

.searchBar {
  float: right;
  clear : both;
}

